<nav class="bg-gray-100 py-4 shadow-sm">
    <div class="container mx-auto px-4 flex justify-between items-center">
      <a routerLink="/" class="text-xl font-bold text-gray-800 hover:text-gray-600 transition duration-300">
        Mon Blog
      </a>
      <div class="flex space-x-4">
        <a 
          routerLink="/articles" 
          class="text-gray-700 hover:text-gray-900 hover:bg-gray-200 px-3 py-2 rounded-md transition duration-300"
        >
          Articles
        </a>
        <a 
          routerLink="/articles/new" 
          class="text-gray-700 hover:text-gray-900 hover:bg-gray-200 px-3 py-2 rounded-md transition duration-300"
        >
          Créer un Article
        </a>
        <a routerLink="/dict/dashboard" class="text-blue-600 hover:text-blue-800">Dashboard DICT</a>
      </div>
    </div>
  </nav>
  <div class="container mx-auto mt-4 px-4">
    <router-outlet></router-outlet>
  </div>
  <app-dict-health-indicator></app-dict-health-indicator>